<h2>購入履歴</h2>
<P>each文</P>
<ul class="list-group">
	<li class="list-group-item">購入者</li>
	<li class="list-group-item">購入日</li>
	<li class="list-group-item">シングル/アルバム名</li>
	<li class="list-group-item">購入枚数</li>
	<li class="list-group-item">小計</li>
	<li class="list-group-item">購入総計</li>
	<li class="list-group-item"></li>
	<li class="list-group-item">送付先</li>
	<li class="list-group-item">ステータス</li>
</ul>

<div>戻る</div>

