<h2>User一覧</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>id</th>
			<th>名前</th>
			<th>メールアドレス</th>
			<th colspan='2'></th>
		</tr>
	</thead>

	<p> @users.each do |user| </p>
	<tbody>
		<tr>
			<td> user.id </td>
			<td> user.name </td>
			<td> user.email </td>
			<td><p> link_to "詳細", user_path(user), class:"btn-sm btn-success" </p>
				<p> link_to "削除", user_path(user), method: :delete, data: {confirm: "本当に消しますか?" }, class:"btn-sm btn-danger" </p>
			</td>
			<p> end </p>
		</tr>
	</tbody>
</table>

<p> link_to "戻る" :back </p>

